/* color variables */
main .breakdown--wrap .elem-wrap .text .head {
  font-family: "QuasimodaBold";
  font-size: 40px;
  text-transform: uppercase;
}
@media only screen and (max-width: 991px) {
  main .breakdown--wrap .elem-wrap .text .head {
    font-size: 32px;
  }
}

h2 {
  font-family: "QuasimodaBold";
  font-size: 40px;
  text-transform: uppercase;
}
@media only screen and (max-width: 991px) {
  h2 {
    font-size: 32px;
  }
}

p {
  font-size: 24px;
  font-family: "QuasimodaRegular";
}
@media only screen and (max-width: 767px) {
  p {
    font-size: 16px;
  }
}

.text-1 {
  font-family: "QuasimodaRegular";
  font-size: 16px;
}

.text-2 {
  font-family: "QuasimodaRegular";
  font-size: 14px;
}

h6 {
  font-family: "QuasimodaBold";
  font-size: 20px;
}

.cta-w a {
  font-family: "QuasimodaSemiBold";
  font-size: 14px;
}

.caption-1 {
  font-family: "QuasimodaRegular";
  font-size: 12px;
}

.com-pad {
  padding: 72px 96px;
}
@media only screen and (max-width: 991px) {
  .com-pad {
    padding: 52px 72px;
  }
}
@media only screen and (max-width: 767px) {
  .com-pad {
    padding: 48px 16px;
  }
}
.com-pad.spotlight-alternate {
  padding-top: 24px;
}

.light-sec {
  background-color: #F7F9FB;
}

.mar-top-24 {
  margin-top: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  height: 100%;
}

/*common css start here*/
body {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  font-family: "QuasimodaRegular", "sans-serif";
  color: #000000;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  min-width: 300px;
}
body.lock {
  overflow: hidden;
}

/*css change*/
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/*Global wrapper classes*/
.desktopOnly {
  display: block;
}
@media only screen and (max-width: 991px) {
  .desktopOnly {
    display: none;
  }
}

.mobileOnly {
  display: none;
}
@media only screen and (max-width: 991px) {
  .mobileOnly {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 100%;
    padding: 0 2.5rem;
  }
}
@media only screen and (min-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 2.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 100%;
    padding: 0 2.5rem;
  }
}
@media only screen and (min-width: 1600px) {
  .container {
    max-width: 100%;
    padding: 0 2.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media only screen and (min-width: 1600px) {
  .container {
    max-width: 1500px;
  }
}
/*reset variables*/
.noDisplay {
  display: none;
}

/* iPad portrait mode */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* Mobile layout css */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
.cta-w {
  display: flex;
  margin-top: 24px;
}
.cta-w.inverse a {
  background-color: #ffffff;
  color: #212121;
  border: none;
}
.cta-w.inverse a:hover {
  color: #ffffff;
  background: #212121;
  border: none;
}
.cta-w.inverse a:hover span svg path {
  stroke: #ffffff;
}
.cta-w a {
  font-family: "QuasimodaBold";
  background: #212121;
  padding: 16px 32px;
  color: #ffffff;
  border-radius: 8px;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all 0.2s linear;
  border: #212121 solid 1px;
}
.cta-w a span {
  display: flex;
  margin-left: 8px;
}
.cta-w a span svg {
  width: 20px;
}
.cta-w a:hover {
  color: #212121;
  background: #ffffff;
  border: #212121 solid 1px;
}
.cta-w a:hover span svg path {
  stroke: #212121;
}

.text-align-center {
  text-align: center;
}

header .inner-cont .nav-p .nav-w .nav-elem a .name-w {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

header .inner-cont .nav-p .nav-w .nav-elem a .name-w:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: currentColor;
  transition: transform 0.3s linear;
}

header .inner-cont .nav-p .nav-w .nav-elem a .name-w:hover:after {
  transform: scaleX(1);
  transform-origin: left center;
}

header .inner-cont .nav-p .nav-w .nav-elem a .name-w:after {
  transform: scaleX(0);
  transform-origin: center right;
}

header .inner-cont .nav-p .nav-w .nav-elem a .name-w {
  display: inline-block;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 10;
}
header .inner-cont {
  width: 100%;
  padding: 30px 96px;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  header .inner-cont {
    padding: 30px 32px;
  }
}
@media only screen and (max-width: 767px) {
  header .inner-cont {
    padding: 18px 16px;
    justify-content: space-between;
    border-bottom: #D3D3D3 solid 1px;
  }
}
header .inner-cont .logo {
  width: 20%;
  display: flex;
  position: relative;
  z-index: 10;
}
@media only screen and (max-width: 767px) {
  header .inner-cont .logo {
    width: 25%;
  }
}
header .inner-cont .logo svg {
  width: 161px;
}
@media only screen and (max-width: 767px) {
  header .inner-cont .logo svg {
    width: 141px;
  }
}
header .inner-cont .nav-p {
  width: 80%;
}
@media only screen and (max-width: 767px) {
  header .inner-cont .nav-p {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: #ffffff;
    display: none;
  }
}
header .inner-cont .nav-p.active {
  display: block;
}
header .inner-cont .nav-p .nav-w {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  header .inner-cont .nav-p .nav-w {
    flex-direction: column;
    margin: 60px 0px;
    border-top: #D3D3D3 solid 1px;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 767px) {
  header .inner-cont .nav-p .nav-w .nav-elem {
    margin-top: 2rem;
    padding: 0 16px;
  }
}
header .inner-cont .nav-p .nav-w .nav-elem.forCta {
  margin-left: 1rem;
}
@media only screen and (max-width: 767px) {
  header .inner-cont .nav-p .nav-w .nav-elem.forCta {
    display: none;
  }
}
header .inner-cont .nav-p .nav-w .nav-elem.forCta .cta-w {
  margin-top: 0;
}
header .inner-cont .nav-p .nav-w .nav-elem.forCta .cta-w a {
  color: #ffffff;
  padding: 12px 24px;
}
header .inner-cont .nav-p .nav-w .nav-elem.forCta .cta-w a:hover {
  color: #212121;
  background: #ffffff;
  border: #212121 solid 1px;
}
header .inner-cont .nav-p .nav-w .nav-elem.forCta .cta-w a:hover span svg path {
  stroke: #212121;
}
header .inner-cont .nav-p .nav-w .nav-elem a {
  display: flex;
  color: #000000;
  text-decoration: none;
  align-items: center;
}
header .inner-cont .nav-p .nav-w .nav-elem a .icon-w {
  display: flex;
}
header .inner-cont .nav-p .nav-w .nav-elem a .icon-w svg {
  margin-right: 16px;
}
header .inner-cont .nav-p .nav-w .nav-elem a .name-w {
  font-size: 16px;
}
header .inner-cont .nav-p .nav-w .divider {
  width: 1px;
  margin: 0 16px;
  background-color: #949494;
  height: 24px;
}
@media only screen and (max-width: 767px) {
  header .inner-cont .nav-p .nav-w .divider {
    display: none;
  }
}

.hamburger__p {
  display: none;
}
@media only screen and (max-width: 767px) {
  .hamburger__p {
    display: block;
  }
}

.hamburger__wrap {
  display: flex;
  position: relative;
  z-index: 11;
}
.hamburger__wrap.open .hamburger__icon span {
  left: 2px;
}
.hamburger__wrap.open .hamburger__icon span:nth-child(1) {
  transform: rotate(45deg);
}
.hamburger__wrap.open .hamburger__icon span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.hamburger__wrap.open .hamburger__icon span:nth-child(3) {
  top: 17px;
  transform: rotate(-45deg);
}
.hamburger__wrap .hamburger__icon {
  width: 24px;
  height: 22px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  z-index: 9;
}
.hamburger__wrap .hamburger__icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #000000;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.hamburger__wrap .hamburger__icon span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}
.hamburger__wrap .hamburger__icon span:nth-child(2) {
  top: 8px;
  right: 0;
  left: unset;
  transform-origin: left center;
}
.hamburger__wrap .hamburger__icon span:nth-child(3) {
  top: 16px;
  transform-origin: left center;
}

footer {
  width: 100%;
}
footer .inner-w {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 56px 0;
}
footer .inner-w .logo {
  width: 100%;
  text-align: center;
}
footer .inner-w .logo svg {
  width: 160px;
}
footer .inner-w .text-1 {
  text-align: center;
  margin: 40px 0;
}
footer .inner-w .caption-1 {
  text-align: center;
  line-height: 1.4;
}

main {
  margin-top: 115px;
}
@media only screen and (max-width: 767px) {
  main {
    margin-top: 58px;
  }
}
main .spotlight {
  width: 100%;
  display: flex;
}
main .spotlight .inner-w {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  main .spotlight .inner-w {
    flex-direction: column;
  }
}
main .spotlight .inner-w .left {
  width: 50%;
}
@media only screen and (max-width: 991px) {
  main .spotlight .inner-w .left {
    width: 100%;
    height: 80vh;
  }
}
main .spotlight .inner-w .left .img-2 {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.53) 5.24%, rgba(0, 0, 0, 0) 100%);
  background-blend-mode: multiply;
}
main .spotlight .inner-w .left .img-2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .spotlight .inner-w .left .img-2 .overlay-w {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 11rem;
}
@media only screen and (max-width: 767px) {
  main .spotlight .inner-w .left .img-2 .overlay-w {
    width: 10rem;
  }
}
main .spotlight .inner-w .left .img-2 .overlay-w img {
  width: 100%;
}
main .spotlight .inner-w .right {
  width: 50%;
  height: 100%;
  background: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  main .spotlight .inner-w .right {
    width: 100%;
    height: auto;
  }
}
main .spotlight .inner-w .right .wrapper {
  margin: 0 auto;
  max-width: 460px;
}
@media only screen and (max-width: 991px) {
  main .spotlight .inner-w .right .wrapper {
    max-width: unset;
    padding: 48px 32px;
  }
}
@media only screen and (max-width: 767px) {
  main .spotlight .inner-w .right .wrapper {
    max-width: unset;
    padding: 48px 16px;
  }
}
main .sec-head.center {
  text-align: center;
}
@media only screen and (max-width: 991px) {
  main .sec-head h2 {
    text-align: center;
  }
}
main .press-wrap {
  margin-top: 56px;
}
main .press-wrap ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .press-wrap ul li {
  flex: 0 0 25%;
  width: 100%;
  text-align: center;
}
@media only screen and (max-width: 991px) {
  main .press-wrap ul li {
    flex: 0 0 33%;
  }
}
@media only screen and (max-width: 767px) {
  main .press-wrap ul li {
    flex: 0 0 50%;
  }
}
main .press-wrap ul li:nth-child(1n) {
  margin-bottom: 1rem;
}
main .press-wrap ul li:nth-child(1n) img {
  width: 100%;
  max-width: 320px;
}
main .featured-col {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
}
@media only screen and (max-width: 991px) {
  main .featured-col {
    flex-direction: column;
  }
}
@media only screen and (max-width: 767px) {
  main .featured-col {
    padding-top: 32px;
  }
}
main .featured-col .left {
  width: 50%;
  position: relative;
}
@media only screen and (max-width: 991px) {
  main .featured-col .left {
    width: 100%;
  }
}
main .featured-col .left a {
  text-decoration: none;
}
main .featured-col .left .featured-icon-w {
  background: #209648;
  display: flex;
  color: #ffffff;
  font-family: "QuasimodaMedium";
  font-size: 10px;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: 5px;
  position: absolute;
  left: 2rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
main .featured-col .left .featured-icon-w span {
  display: flex;
}
main .featured-col .left .featured-icon-w span svg {
  margin-right: 4px;
}
main .featured-col .left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 14px;
}
main .featured-col .right {
  width: 50%;
  height: 100%;
  padding-left: 48px;
}
@media only screen and (max-width: 991px) {
  main .featured-col .right {
    width: 100%;
    padding-left: 0;
    padding-top: 32px;
  }
}
main .featured-col .right a {
  text-decoration: none;
}
main .featured-col .right a h2 {
  color: #000000;
}
main .featured-col .right .w-wrap {
  display: flex;
  align-items: center;
}
main .featured-col .right .w-wrap .icon-2 {
  display: flex;
  margin-right: 8px;
}
main .featured-col .right .w-wrap .text-1 {
  margin-top: 4px;
  color: #6B44A5;
}
main .featured-col .text-2 {
  margin-top: 4px;
  margin-bottom: 16px;
}
main .breakdown--wrap .elem-wrap {
  display: flex;
  width: 100%;
  height: 55vw;
  position: sticky;
  top: 0;
  background-color: white;
}
@media only screen and (max-width: 991px) {
  main .breakdown--wrap .elem-wrap {
    height: auto;
    flex-direction: column;
    position: relative;
  }
}
main .breakdown--wrap .elem-wrap.border-bottom {
  border-bottom: #C4C4C4 solid 1px;
}
main .breakdown--wrap .elem-wrap.border-bottom .sub {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.15rem;
}
main .breakdown--wrap .elem-wrap.alternateFlex {
  flex-direction: row-reverse;
}
@media only screen and (max-width: 991px) {
  main .breakdown--wrap .elem-wrap.alternateFlex {
    flex-direction: column;
  }
}
main .breakdown--wrap .elem-wrap .image {
  width: 50%;
  height: 100%;
}
@media only screen and (max-width: 991px) {
  main .breakdown--wrap .elem-wrap .image {
    position: relative;
    width: 100%;
    display: flex;
  }
}
main .breakdown--wrap .elem-wrap .image:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 991px) {
  main .breakdown--wrap .elem-wrap .image:after {
    background-image: url("../img/gradient.png");
    background-position: center center;
    background-size: cover;
  }
}
main .breakdown--wrap .elem-wrap .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .breakdown--wrap .elem-wrap .text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 6rem;
  text-align: center;
  color: #ffffff;
}
@media only screen and (max-width: 991px) {
  main .breakdown--wrap .elem-wrap .text {
    width: auto;
    height: auto;
    background: transparent !important;
    text-align: left;
    position: absolute;
    bottom: 1rem;
    left: 0rem;
    padding: 0rem 1rem;
  }
}
main .breakdown--wrap .elem-wrap .text.alter {
  display: none;
}
@media only screen and (max-width: 992px) {
  main .breakdown--wrap .elem-wrap .text.parIn {
    padding: 2rem 1rem;
  }
}
@media only screen and (max-width: 767px) {
  main .breakdown--wrap .elem-wrap .text.parIn {
    padding: 2rem 1rem 2rem 1rem;
  }
}
main .breakdown--wrap .elem-wrap .text .head {
  margin-bottom: 1rem;
}
@media only screen and (max-width: 992px) {
  main .breakdown--wrap .elem-wrap .text .head {
    margin-bottom: 0rem;
  }
}
main .breakdown--wrap .elem-wrap .text .head span {
  white-space: nowrap;
}
@media only screen and (max-width: 991px) {
  main .breakdown--wrap .elem-wrap .text .head.alter {
    margin-bottom: 0rem;
  }
}
main .breakdown--wrap .elem-wrap .sub {
  width: 70%;
  margin: 0 auto 24px auto;
}
@media only screen and (max-width: 992px) {
  main .breakdown--wrap .elem-wrap .sub {
    width: 100%;
    margin: 0 auto 16px auto;
  }
}
main .breakdown--wrap .elem-wrap .sub span {
  white-space: nowrap;
}
main .breakdown--wrap .elem-wrap .orange {
  background-color: #F37057;
}
main .breakdown--wrap .elem-wrap .magenta {
  background-color: #006178;
}
main .breakdown--wrap .elem-wrap .green {
  background-color: #2C5F4C;
}
main .breakdown--wrap .elem-wrap .red {
  background-color: #87321C;
}
main .breakdown--wrap .elem-wrap .blue {
  background-color: #335A8A;
}
main .cards-w {
  margin-top: 48px;
  overflow: scroll;
  display: flex;
}
@media only screen and (max-width: 992px) {
  main .cards-w {
    margin-top: 36px;
  }
}
main .cards-w::-webkit-scrollbar {
  display: none;
}
main .cards-w .cards-ul {
  display: flex;
}
main .cards-w .cards-ul .cards {
  width: 300px;
  margin-right: 16px;
}
main .cards-w .cards-ul .cards .image {
  height: 200px;
  width: 100%;
  display: flex;
}
main .cards-w .cards-ul .cards .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
main .cards-w .cards-ul .cards .card-body {
  padding: 16px;
  height: 300px;
  overflow-y: scroll;
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
main .cards-w .cards-ul .cards .card-body .name-w {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .cards-w .cards-ul .cards .card-body .location {
  margin: 4px 0;
}
main .cards-w .cards-ul .cards .card-body .tick-w {
  display: flex;
}
main .cards-w .cards-ul .cards .card-body .tick-w .wrap-t {
  border-radius: 4px;
  padding: 4px;
  background: #EBFFF8;
  font-family: "QuasimodaSemiBold";
  font-size: 10px;
  color: #006642;
  display: flex;
}
main .cards-w .cards-ul .cards .card-body .tick-w .wrap-t.grey {
  background: #F5F5F5;
  color: #282828;
}
main .cards-w .cards-ul .cards .card-body .tick-w .wrap-t span {
  display: flex;
}
main .cards-w .cards-ul .cards .card-body .tick-w .wrap-t span svg {
  display: flex;
  margin-right: 4px;
}
main .cards-w .cards-ul .cards .card-body .divider-c {
  border: #D3D3D3 dotted 1px;
  margin: 12px 0;
}
main .cards-w .cards-ul .cards .card-body .hotel-link .inner-w .top {
  display: flex;
  justify-content: space-between;
}
main .cards-w .cards-ul .cards .card-body .hotel-link .inner-w .top .left {
  width: 50%;
}
main .cards-w .cards-ul .cards .card-body .hotel-link .inner-w .top .left .brand {
  display: flex;
}
main .cards-w .cards-ul .cards .card-body .hotel-link .inner-w .top .left .brand svg {
  display: flex;
}
main .cards-w .cards-ul .cards .card-body .hotel-link .inner-w .top .left .brand img {
  width: 4rem;
}
main .cards-w .cards-ul .cards .card-body .hotel-link .inner-w .top .right {
  width: 50%;
  text-align: right;
  font-family: "QuasimodaRegular";
  font-size: 14px;
}
main .cards-w .cards-ul .cards .card-body .hotel-link .inner-w .top .right a {
  text-decoration: none;
  color: #006DDB;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
main .cards-w .cards-ul .cards .card-body .hotel-link .inner-w .top .right a span {
  display: flex;
}
main .cards-w .cards-ul .cards .card-body .hotel-link .inner-w .top .right a span svg {
  display: flex;
  margin-left: 8px;
}
main .cards-w .cards-ul .cards .card-body .hotel-link .inner-w .bottom {
  margin-top: 8px;
}
main .cards-w .cards-ul .cards .card-body .hotel-link .inner-w .bottom ul {
  display: flex;
}
main .cards-w .cards-ul .cards .card-body .hotel-link .inner-w .bottom ul li {
  margin-right: 4px;
}
main .cards-w .cards-ul .cards .card-body .more-option {
  text-align: center;
  font-family: "QuasimodaRegular";
  font-size: 14px;
  color: #006DDB;
  margin-top: 1rem;
  cursor: pointer;
}
main .footer-bleed {
  width: 100%;
  height: 600px;
  position: relative;
}
main .footer-bleed img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .footer-bleed .cont-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  text-align: center;
  color: #ffffff;
}
@media only screen and (max-width: 767px) {
  main .footer-bleed .cont-wrap {
    width: 90%;
  }
}
main .footer-bleed .cont-wrap .cta-w {
  justify-content: center;
}

.const-cta {
  position: fixed;
  padding: 10px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  display: none;
}
@media only screen and (max-width: 767px) {
  .const-cta {
    display: block;
  }
}
.const-cta .cta-w {
  width: 100%;
}
.const-cta .cta-w a {
  justify-content: center;
  width: 100%;
}

@font-face {
  font-family: "QuasimodaSemiBold";
  src: url("./fonts/Quasimoda-SemiBold.woff2") format("woff2"), url("./fonts/Quasimoda-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "QuasimodaLight";
  src: url("./fonts/Quasimoda-Light.woff2") format("woff2"), url("./fonts/Quasimoda-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "QuasimodaBold";
  src: url("./fonts/Quasimoda-Bold.woff2") format("woff2"), url("./fonts/Quasimoda-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "QuasimodaMedium";
  src: url("./fonts/Quasimoda-Medium.woff2") format("woff2"), url("./fonts/Quasimoda-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "QuasimodaRegular";
  src: url("./fonts/Quasimoda-Regular.woff2") format("woff2"), url("./fonts/Quasimoda-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}/*# sourceMappingURL=main.css.map */