.cta-w{
  display: flex;
  margin-top: 24px;
  &.inverse{
    a{
      background-color: $white;
      color: #212121;
      border: none;
      &:hover{
        color: $white;
        background: #212121;
        border: none;
        span{
          svg{
            path{
              stroke: $white;
            }
          }
        }
      }
    }
  }
  a{
    font-family: $font-bold;
    background: #212121;
    padding: 16px 32px;
    color: $white;
    border-radius: 8px;
    text-decoration: none;
    @extend %button;
    display: flex;
    align-items: center;
    transition: $transition;
    border: #212121 solid 1px;
    span{
      display: flex;
      margin-left: 8px;
      svg{
        width: 20px;
      }
    }
    &:hover{
      color: #212121;
      background: $white;
      border: #212121 solid 1px;
      span{
        svg{
          path{
            stroke: #212121;
          }
        }
      }
    }
  }
}

.text-align-center{
  text-align: center;
}
