*{margin: 0; padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box;}
html,body{ height: 100%;}
/*common css start here*/
body {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  font-family: $font-regular, 'sans-serif' ;
  color: $black;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  min-width: 300px;

  // -youbkit-touch-callout: none; /* iOS Safari */
  // -youbkit-user-select: none;   /* Chrome 6.0+, Safari 3.1+, Edge & Opera 15+ */
  // -moz-user-select: none;    /* Firefox */
  // -ms-user-select: none;        /* IE 10+ and Edge */
  // user-select: none;
  &.lock{
    overflow: hidden;
    // position: absolute;
  }
}
/*css change*/
ul{margin: 0px; padding: 0px; list-style: none;}

/*Global wrapper classes*/
.container{
  // padding: 0 2rem;
}


.desktopOnly{
    display: block;
    @media only screen and (max-width: 991px){
        display: none;
    }
}
.mobileOnly{
    display: none;
    @media only screen and (max-width: 991px){
        display: block;
    }
}

// Customise bootstrap css
@media only screen and (min-width: 992px){
    .container { max-width: 100%; padding: 0 2.5rem;}
}
@media only screen and (min-width: 767px){
    .container { max-width: 100%; padding: 0 2.5rem;}
}
@media only screen and (min-width : 1200px) {
    .container { max-width: 100%; padding: 0 2.5rem;}
}
@media only screen and (min-width : 1600px) {
    .container { max-width: 100%; padding: 0 2.5rem;}
}


// Customise bootstrap css
@media only screen and (min-width : 1200px) {
    .container { max-width: 1200px; }
}
@media only screen and (min-width : 1600px) {
    .container { max-width: 1500px; }
}

/*reset variables*/
.noDisplay{ display: none;}
/* iPad portrait mode */
@media only screen and (min-width: 960px) and (max-width: 1024px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* Mobile layout css */
@media only screen and (max-width: 768px) {

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 768px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}
