$font-semi-bold:'QuasimodaSemiBold';
$font-light:'QuasimodaLight';
$font-bold:'QuasimodaBold';
$font-medium:'QuasimodaMedium';
$font-regular:'QuasimodaRegular';

/* color variables */
$black:#000000;
$white:#ffffff;
$accent:#006178;
$grey:#282828;

$transition: all 0.2s linear;
